/* Apresentação */
.apresentacao {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 40px;
}

.apresentacao__conteudo {
    padding-right: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: 3.1rem;
    color: var(--branco);
    margin-bottom: 20px;
}

.titulo-destaque {
    color: var(--cor-do-cabeçalho);
}

.apresentacao__conteudo__texto {
    font-size: 1.4rem;
    color: var(--branco);
}


/* CARD */
.quem_somos {
    font-size: 3rem;
    color: var(--branco);
    text-align: center;
    font-family: var(--fonte-principal);
}

.container_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
  
.card {
    margin: 10px; 
    text-align: center;
  }

.card img {
    border-radius: 80px;
}
 
.name {
    font-size: 1.6rem;
    color: var(--branco);
}

.escola {
    font-size: 0.9rem;
    color: var(--branco);
}

.card_link_imagem {
    width: 45px;
}


