@charset "UTF-8";

@media screen and (max-width: 800px) {
    .apresentacao__conteudo__titulo {
        font-size: 2rem;
    }
    .quem_somos {
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .apresentacao__conteudo__texto {
        font-size: 1rem;
    }
}

/* Página Individual */
@media screen and (max-width: 871px) {
    .container_hard {
        display: inline-block;
        height: 100%;
    }

    .container_soft {
        display: inline-block;
        height: 100%;
    }

    .card {
        margin-left: 0px;
      }
}